<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bidr.forge.dao.mapper.SysDatasetColumnMapper">
  <resultMap id="BaseResultMap" type="com.bidr.forge.dao.entity.SysDatasetColumn">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dataset_id" jdbcType="BIGINT" property="datasetId" />
    <result column="column_sql" jdbcType="LONGVARCHAR" property="columnSql" />
    <result column="column_alias" jdbcType="VARCHAR" property="columnAlias" />
    <result column="is_aggregate" jdbcType="CHAR" property="isAggregate" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="is_visible" jdbcType="CHAR" property="isVisible" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dataset_id, column_sql, column_alias, is_aggregate, display_order, is_visible, 
    remark, create_by, create_at, update_by, update_at
  </sql>
</mapper>
