<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bidr.forge.dao.mapper.SysDatasetTableMapper">
  <resultMap id="BaseResultMap" type="com.bidr.forge.dao.entity.SysDatasetTable">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="dataset_id" jdbcType="BIGINT" property="datasetId" />
    <result column="data_source" jdbcType="VARCHAR" property="dataSource" />
    <result column="table_order" jdbcType="INTEGER" property="tableOrder" />
    <result column="table_sql" jdbcType="LONGVARCHAR" property="tableSql" />
    <result column="table_alias" jdbcType="VARCHAR" property="tableAlias" />
    <result column="join_type" jdbcType="VARCHAR" property="joinType" />
    <result column="join_condition" jdbcType="LONGVARCHAR" property="joinCondition" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dataset_id, data_source, table_order, table_sql, table_alias, join_type, join_condition, 
    remark, create_by, create_at, update_by, update_at
  </sql>
</mapper>
