<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bidr.forge.dao.mapper.SysMatrixColumnMapper">
  <resultMap id="BaseResultMap" type="com.bidr.forge.dao.entity.SysMatrixColumn">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="matrix_id" jdbcType="BIGINT" property="matrixId" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_comment" jdbcType="VARCHAR" property="columnComment" />
    <result column="column_type" jdbcType="VARCHAR" property="columnType" />
    <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
    <result column="column_length" jdbcType="INTEGER" property="columnLength" />
    <result column="decimal_places" jdbcType="INTEGER" property="decimalPlaces" />
    <result column="is_nullable" jdbcType="CHAR" property="isNullable" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="sequence" jdbcType="VARCHAR" property="sequence" />
    <result column="is_primary_key" jdbcType="CHAR" property="isPrimaryKey" />
    <result column="is_index" jdbcType="CHAR" property="isIndex" />
    <result column="is_unique" jdbcType="CHAR" property="isUnique" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="is_display_name_field" jdbcType="CHAR" property="isDisplayNameField" />
    <result column="is_order_field" jdbcType="CHAR" property="isOrderField" />
    <result column="is_pid_field" jdbcType="CHAR" property="isPidField" />
    <result column="reference_matrix_id" jdbcType="VARCHAR" property="referenceMatrixId" />
    <result column="reference_dict" jdbcType="VARCHAR" property="referenceDict" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="valid" jdbcType="CHAR" property="valid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, matrix_id, column_name, column_comment, column_type, field_type, column_length, 
    decimal_places, is_nullable, default_value, sequence, is_primary_key, is_index, is_unique, 
    sort, is_display_name_field, is_order_field, is_pid_field, reference_matrix_id, 
    reference_dict, create_by, create_at, update_by, update_at, `valid`
  </sql>
</mapper>
