<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">


	<!-- 动态属性，读取自application.yml -->
	<springProperty scop="context" name="projectName" source="app.projectId" defaultValue="unknown-projectId"/>
	<springProperty scop="context" name="moduleId" source="app.moduleId" defaultValue="unknown-moduleId"/>
	<springProperty scop="context" name="envType" source="spring.profiles.active" defaultValue="dev"/>
	<springProperty scop="context" name="appLogPath" source="app.log.path" defaultValue="/data/log"/>
	<springProperty scop="context" name="dbDriver" source="my.master-db.config.driver" defaultValue="com.mysql.cj.jdbc.Driver"/>
	<springProperty scop="context" name="dbUrl" source="my.master-db.config.url" defaultValue="localhost"/>
	<springProperty scop="context" name="dbPort" source="my.master-db.config.port" defaultValue="3306"/>
	<springProperty scop="context" name="dbProperty" source="my.master-db.config.property" defaultValue=""/>
	<springProperty scop="context" name="dbName" source="my.master-db.config.db" defaultValue="logback"/>
	<springProperty scop="context" name="dbUserName" source="my.master-db.config.username" defaultValue="root"/>
	<springProperty scop="context" name="dbPassword" source="my.master-db.config.password" defaultValue=""/>
	<!--
        日志输出格式：
            %d表示日期时间，
            %thread表示线程名，
            %-5level：级别从左显示5个字符宽度
            %logger{50} 表示logger名字最长50个字符，否则按照句点分割。
            %msg：日志消息，
            %n是换行符
    -->
	<property name="LOG_PATTERN"
			  value="%d %-5level[%thread][%X{IP}][%X{REQUEST_ID}][%X{logToken}]%logger{15}|\(%file:%line\\)%m%n"/>
	<!-- ============================= ↓↓↓↓ 输出器 ↓↓↓↓ ================================= -->
	<!-- 控制台日志输出器 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志格式 -->
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!--file日志输出器-->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--记录的日志文件的路径及文件名-->
		<file>${appLogPath}/${projectName}/sys.log</file>
		<!--日志文件输出格式-->
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>

		<!--日志记录器的滚动策略，按日期，按大小记录-->
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${appLogPath}/${projectName}/%d.%i.log.gz</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>
		</rollingPolicy>
	</appender>
	<!-- 异步输出 -->
	<appender name="ASYNC-FILE" class="ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold>0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
		<queueSize>256</queueSize>
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref="FILE"/>
	</appender>

	<appender name="mysql" class="com.bidr.platform.config.log.DbLogbackAppender">
		<projectId>${projectName}</projectId>
		<moduleId>${moduleId}</moduleId>
		<envType>${envType}</envType>
		<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
			<dataSource class="com.zaxxer.hikari.HikariDataSource">
				<driverClassName>${dbDriver}</driverClassName>
				<jdbcUrl>jdbc:mysql://${dbUrl}:${dbPort}/${dbName}?${dbProperty}</jdbcUrl>
				<username>${dbUserName}</username>
				<password>${dbPassword}</password>
			</dataSource>
		</connectionSource>
	</appender>

	<appender name="ASYNC-MYSQL" class="ch.qos.logback.classic.AsyncAppender">
		<discardingThreshold>0</discardingThreshold>
		<queueSize>10000</queueSize>
		<appender-ref ref="mysql"/>
	</appender>


	<!-- ============================= ↓↓↓↓ 按环境进行配置 ↓↓↓↓ ================================= -->

	<springProfile name="local,dev,test">
		<root level="INFO">
			<appender-ref ref="STDOUT"/>
			<appender-ref ref="ASYNC-FILE"/>
		</root>
		<logger name="com.bidr" level="TRACE" additivity="false">
			<appender-ref ref="STDOUT"/>
			<appender-ref ref="ASYNC-FILE"/>
		</logger>
	</springProfile>

	<springProfile name="pre,prod">
		<root level="INFO">
			<appender-ref ref="STDOUT"/>
			<appender-ref ref="ASYNC-FILE"/>
			<appender-ref ref="ASYNC-MYSQL"/>
		</root>
		<logger name="com.bidr" level="TRACE" additivity="false">
			<appender-ref ref="STDOUT"/>
			<appender-ref ref="ASYNC-FILE"/>
			<appender-ref ref="ASYNC-MYSQL"/>
		</logger>
	</springProfile>

</configuration>
