<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bidr.authorization.dao.mapper.AcGroupMenuMapper">
  <resultMap id="BaseResultMap" type="com.bidr.authorization.dao.entity.AcGroupMenu">
    <id column="group_id" jdbcType="BIGINT" property="groupId" />
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    group_id, menu_id
  </sql>
</mapper>
