<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bidr.admin.dao.mapper.SysPortalColumnMapper">
  <resultMap id="BaseResultMap" type="com.bidr.admin.dao.entity.SysPortalColumn">
    <!--@mbg.generated-->
    <!--@Table sys_portal_column-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="portal_id" jdbcType="BIGINT" property="portalId" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="db_field" jdbcType="VARCHAR" property="dbField" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
    <result column="reference" jdbcType="VARCHAR" property="reference" />
    <result column="entity_field" jdbcType="VARCHAR" property="entityField" />
    <result column="entity_condition" jdbcType="VARCHAR" property="entityCondition" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="align" jdbcType="VARCHAR" property="align" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="fixed" jdbcType="VARCHAR" property="fixed" />
    <result column="tooltip" jdbcType="VARCHAR" property="tooltip" />
    <result column="enable" jdbcType="VARCHAR" property="enable" />
    <result column="show" jdbcType="VARCHAR" property="show" />
    <result column="filter_able" jdbcType="VARCHAR" property="filterAble" />
    <result column="sort_able" jdbcType="VARCHAR" property="sortAble" />
    <result column="summary_able" jdbcType="VARCHAR" property="summaryAble" />
    <result column="edit_able" jdbcType="VARCHAR" property="editAble" />
    <result column="display_group_name" jdbcType="VARCHAR" property="displayGroupName" />
    <result column="detail_show" jdbcType="VARCHAR" property="detailShow" />
    <result column="detail_size" jdbcType="INTEGER" property="detailSize" />
    <result column="detail_padding" jdbcType="INTEGER" property="detailPadding" />
    <result column="add_show" jdbcType="VARCHAR" property="addShow" />
    <result column="add_size" jdbcType="INTEGER" property="addSize" />
    <result column="add_padding" jdbcType="INTEGER" property="addPadding" />
    <result column="add_disabled" jdbcType="VARCHAR" property="addDisabled" />
    <result column="edit_show" jdbcType="VARCHAR" property="editShow" />
    <result column="edit_size" jdbcType="INTEGER" property="editSize" />
    <result column="edit_padding" jdbcType="INTEGER" property="editPadding" />
    <result column="edit_disabled" jdbcType="VARCHAR" property="editDisabled" />
    <result column="required" jdbcType="VARCHAR" property="required" />
    <result column="min" jdbcType="DECIMAL" property="min" />
    <result column="max" jdbcType="DECIMAL" property="max" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="mobile_display_type" jdbcType="VARCHAR" property="mobileDisplayType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, portal_id, property, db_field, display_name, field_type, reference, 
    entity_field, entity_condition, display_order, align, width, fixed, tooltip, `enable`, 
    `show`, filter_able, sort_able, summary_able, edit_able, display_group_name, detail_show, 
    detail_size, detail_padding, add_show, add_size, add_padding, add_disabled, edit_show, 
    edit_size, edit_padding, edit_disabled, required, `min`, `max`, default_value, mobile_display_type
  </sql>
</mapper>