<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bidr.neo4j.dao.mapper.NeoConfigMapper">
  <resultMap id="BaseResultMap" type="com.bidr.neo4j.dao.entity.NeoConfig">
    <!--@mbg.generated-->
    <!--@Table neo_config-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="start_id" jdbcType="BIGINT" property="startId" />
    <result column="end_id" jdbcType="BIGINT" property="endId" />
    <result column="extra_node_list" jdbcType="VARCHAR" property="extraNodeList" />
    <result column="condition" jdbcType="LONGVARCHAR" property="condition" />
    <result column="relation_id" jdbcType="BIGINT" property="relationId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, start_id, end_id, extra_node_list, `condition`, relation_id
  </sql>
</mapper>
