<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bidr.platform.dao.mapper.SysPortalMapper">
  <resultMap id="BaseResultMap" type="com.bidr.platform.dao.entity.SysPortal">
    <!--@mbg.generated-->
    <!--@Table sys_portal-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="read_only" jdbcType="VARCHAR" property="readOnly" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="id_column" jdbcType="VARCHAR" property="idColumn" />
    <result column="pid_column" jdbcType="VARCHAR" property="pidColumn" />
    <result column="tree_drag" jdbcType="VARCHAR" property="treeDrag" />
    <result column="name_column" jdbcType="VARCHAR" property="nameColumn" />
    <result column="order_column" jdbcType="VARCHAR" property="orderColumn" />
    <result column="table_drag" jdbcType="VARCHAR" property="tableDrag" />
    <result column="add_width" jdbcType="INTEGER" property="addWidth" />
    <result column="edit_width" jdbcType="INTEGER" property="editWidth" />
    <result column="detail_width" jdbcType="INTEGER" property="detailWidth" />
    <result column="description_count" jdbcType="INTEGER" property="descriptionCount" />
    <result column="export_able" jdbcType="VARCHAR" property="exportAble" />
    <result column="import_able" jdbcType="VARCHAR" property="importAble" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, display_name, url, `size`, read_only, summary, id_column, pid_column, 
    tree_drag, name_column, order_column, table_drag, add_width, edit_width, detail_width, 
    description_count, export_able, import_able
  </sql>
</mapper>