<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bidr.platform.dao.mapper.SysPortalColumnMapper">
  <resultMap id="BaseResultMap" type="com.bidr.platform.dao.entity.SysPortalColumn">
    <!--@mbg.generated-->
    <!--@Table sys_portal_column-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="portal_id" jdbcType="BIGINT" property="portalId" />
    <result column="property" jdbcType="VARCHAR" property="property" />
    <result column="db_field" jdbcType="VARCHAR" property="dbField" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="field_type" jdbcType="VARCHAR" property="fieldType" />
    <result column="reference" jdbcType="VARCHAR" property="reference" />
    <result column="display_order" jdbcType="INTEGER" property="displayOrder" />
    <result column="align" jdbcType="VARCHAR" property="align" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="fixed" jdbcType="VARCHAR" property="fixed" />
    <result column="tooltip" jdbcType="VARCHAR" property="tooltip" />
    <result column="edit_able" jdbcType="VARCHAR" property="editAble" />
    <result column="required" jdbcType="VARCHAR" property="required" />
    <result column="enable" jdbcType="VARCHAR" property="enable" />
    <result column="show" jdbcType="VARCHAR" property="show" />
    <result column="add_show" jdbcType="VARCHAR" property="addShow" />
    <result column="detail_show" jdbcType="VARCHAR" property="detailShow" />
    <result column="filter_able" jdbcType="VARCHAR" property="filterAble" />
    <result column="sort_able" jdbcType="VARCHAR" property="sortAble" />
    <result column="description_size" jdbcType="INTEGER" property="descriptionSize" />
    <result column="min" jdbcType="DECIMAL" property="min" />
    <result column="max" jdbcType="DECIMAL" property="max" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, portal_id, property, db_field, display_name, field_type, reference, display_order, 
    align, width, fixed, tooltip, edit_able, required, `enable`, `show`, add_show, detail_show, 
    filter_able, sort_able, description_size, `min`, `max`, default_value
  </sql>
</mapper>